name: External App Sample Rust Build
on:
  pull_request:
    paths:
      - 'external_app/sample_rust/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Go to external app directory
        run: cd external_app/sample_rust
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: thumbv7em-none-eabihf
      - name: Run cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
